<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <material name="white">
        <color rgba="1 1 1 1" />
    </material>

    <material name="orange">
        <color rgba="1 0.3 0.1 1"/>
    </material>

    <material name="blue">
        <color rgba="0.2 0.2 1 1"/>
    </material>

    <material name="black">
        <color rgba="0 0 0 1"/>
    </material>

    <material name="red">
        <color rgba="1 0 0 1"/>
    </material>



    <link name="base_link">
        <origin xyz="0.0 0.0 0.30"/>
    </link>

    <joint name="low_chassis_joint" type="fixed">
        <parent link="base_link"/>
        <child link="low_chassis"/>
        <origin xyz="0.0 0.0 -0.15"/>
    </joint>

    <link name="low_chassis">
        <visual>
        <origin xyz="0.0 0.0 0.0025"/>
            <geometry>
            <box size="0.3 0.3 0.005"/>
            </geometry>
            <material name="white"/>
        </visual>
    </link>
    
    <joint name="upper_wheel_plate_joint1" type="prismatic">
        <parent link="low_chassis"/>
        <child link="wheel_plate1"/>
        <origin xyz="-0.15 0.0 -0.1"/>
        <axis xyz="0.0 0.0 1.0"/>
        <limit lower="-0.03" upper="0.03" effort="60" velocity="0.1"/>
    </joint>
    <joint name="upper_wheel_plate_joint2" type="prismatic">
        <parent link="low_chassis"/>
        <child link="wheel_plate2"/>
        <origin xyz="0.15 0.0 -0.1"/>
        <axis xyz="0.0 0.0 1.0"/>
        <limit lower="-0.03" upper="0.03" effort="30" velocity="0.1"/>
    </joint>

    <link name="wheel_plate1">
        <visual>
            <origin xyz="-0.0025 0.0 0.0"/>
            <geometry>
                <box size="0.005 0.3 0.2"/>
            </geometry>
            <material name="orange"/>
        </visual>
    </link>

    <link name="wheel_plate2">
        <visual>
            <origin xyz="0.0025 0.0 0.0"/>
            <geometry>
                <box size="0.005 0.3 0.2"/>
            </geometry>
            <material name="orange"/>
        </visual>
    </link>

    <joint name="footprint_joint" type="fixed">
        <parent link="low_chassis"/>
        <child link="footprint"/>
        <origin xyz="0.0 0.0 -0.3"/>
    </joint>

    <link name="footprint">
        <origin xyz="0.0 0.0 0.0"/>
    </link>

</robot>